google-auth==2.22.0
google-auth-oauthlib==1.0.0
google-auth-httplib2==0.1.0
google-api-python-client==2.95.0

langchain==0.3.4
langchain-core==0.3.12
langchain-openai==0.2.3
langchain-anthropic
langchain-community
langchain-text-splitters
chromadb
langchain-chroma

pylsp-mypy
beautifulsoup4
