google-auth==2.35.0
google-auth-oauthlib==1.2.1
google-auth-httplib2==0.2.0
google-api-python-client==2.149.0

langchain==0.3.4
langchain-core==0.3.13
langchain-openai==0.2.4
langchain-anthropic==0.2.3
langchain-community==0.3.3
tavily-python==0.5.0
langchain-text-splitters==0.3.0
chromadb==0.5.11
langchain-chroma==0.1.4
pylsp-mypy==0.6.9
beautifulsoup4==4.12.3
lxml==5.3.0
playwright==1.48.0
diskcache==5.6.3
